.icon-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.more-icon-row {
  display: table-cell;
  text-align: center;
  padding: 10px 10px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: none;
  margin: 20px 0px;
}
.icon-row__icon i {
  font-size: 30px;
}

.icon-row__icon span {
  font-weight: 600;
  margin-top: 15px;
  font-size: 15px;
}
